.game-dialog-container {
  color: white;

  md-dialog {

    .game-name {
      font-size: 2em;
      margin-top: 0.67em;
      margin-bottom: 0.67em;
      margin-left: 0;
      margin-right: 0;
      font-weight: bold;

      .mobile-game-pic {
        max-width: 75px;
        max-height: 75px;
        margin-left: 12px;
      }
    }

    .dialog-top {

      img {
        max-height: 500px;
      }

      .top-info {
        max-height: 550px;

        .info-row {
          // margin-bottom: 6px;

          .point-title {
            font-weight: bold;
            width: 180px;
          }

          .point-data {
            width: calc(~"100% - 140px");
          }
          .point-title, .point-data {
            padding: 4px;
          }
        }
      }
    }

    .game-pic {
      max-width: 39%;

      img {
        max-width: 100%;
      }
    }
  }
}
