
<section ng-class="{'night':gc.theme === 'night', 'day': gc.theme === 'day'}" md-theme="day"
	class="games-collection-section" ng-cloak>
	<md-content class="md-padding">
	    <md-tabs md-selected="data.selectedIndex" md-theme="{{gc.theme}}">
	    	<md-tab id="lib-game-tab" md-on-select="gc.tabClick('GL')">
	        	<md-tab-label>Game Library</md-tab-label>
	        	<md-tab-body>
	          		These are the games I already have. This way I never end up with duplicates!
	          		<table id="game-library-table" class="display" cellspacing="0" width="100%" height="100%">
					</table>
	        	</md-tab-body>
	      	</md-tab>
	      	<md-tab id="lib-hardware-tab" md-on-select="gc.tabClick('HL')">
	        	<md-tab-label>Hardware Library</md-tab-label>
	        	<md-tab-body>
	          		This is the game hardware I have.
	          		<table id="hardware-library-table" class="display" cellspacing="0" width="100%" height="100%">
					</table>
	        	</md-tab-body>
	      	</md-tab>
	      	<md-tab id="wish-game-tab" md-on-select="gc.tabClick('GW')">
	        	<md-tab-label>Games Wishlist</md-tab-label>
	        	<md-tab-body>
	          		These are the games I want for the hardware I already have.
	          		<table id="games-wishlist-table" class="display" cellspacing="0" width="100%" height="100%">
					</table>
	        	</md-tab-body>
	      	</md-tab>
	      	<md-tab id="wish-hardware-tab" md-on-select="gc.tabClick('HW')">
	        	<md-tab-label>Hardware & Games Wishlist</md-tab-label>
	        	<md-tab-body>
	          		This is the hardware I want. Also, there are a list of consoles and some lists of games I'd like once I get those consoles.
	          		<table id="hw-wishlist-table" class="display" cellspacing="0" width="100%" height="100%">
					</table>
	        	</md-tab-body>
	      	</md-tab>
	      	<md-tab id="library-totals-tab" md-on-select="gc.tabClick('LT')">
	        	<md-tab-label>Totals</md-tab-label>
	        	<md-tab-body>
	          		Just a bunch of data.
              <div class="games-totals" layout="row" layout-align="space-around center">
                <div>
                  <h2>Game Library Totals</h2>
                  <table class="ng-custom-table">
                    <thead>
                      <th>System</th>
                      <th>Games</th>
                      <th>Avg Price</th>
                      <th>Total</th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="(key, value) in gc.gamesData.gamesByConsole">
                        <td>{{key}}</td>
                        <td class="number-format">{{value.items}}</td>
                        <td class="number-format">${{(value.total / value.items).toFixed(2)}}</td>
                        <td class="number-format">${{value.total}}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                    	<tr class="table-foot">
                    		<td>Total</td>
                    		<td class="number-format">{{gc.gamesData.count}}</td>
                    		<td class="number-format">--</td>
                    		<td class="number-format">${{gc.gamesData.totalPrice.toFixed(2)}}</td>
                    	</tr>
                    </tfoot>
                  </table>
                </div>
                <div>
                  <h2>Hardware Library Totals</h2>
                  <table class="ng-custom-table">
                    <thead>
                      <th>Console</th>
                      <th>Items</th>
                      <th>Total Price</th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="(key, value) in gc.hwData.hwByConsole">
                        <td>{{key}}</td>
                        <td class="number-format">{{value.items}}</td>
                        <td class="number-format">${{value.total}}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                    	<tr class="table-foot">
                    		<td>Total</td>
                    		<td class="number-format">{{gc.hwData.items}}</td>
                    		<td class="number-format">${{gc.hwData.totalPrice.toFixed(2)}}</td>
                    	</tr>
                    </tfoot>
                  </table>
                </div>
              </div>
	          		<table id="library-totals-table" class="display" cellspacing="0" width="100%" height="100%">
					</table>
	        	</md-tab-body>
	      	</md-tab>

		</md-tabs>
	</md-content>
</section>
