.games-collection-section {
    min-height: 100%;
    @include fade-In(1s);

    md-tabs {
      height: calc(100vh - 46px);
    }

  .ng-custom-table {
    td, th {
      padding: 2px 6px;
    }
    tbody tr:nth-child(odd) {
      background-color: #ccc;
    }

    .number-format {
      text-align: right;
    }

    .table-foot {
      background-color: black;
      color: white;
      font-weight: bold;
    }
  }

}
