.games-collection-section {
    min-height: 100%;
    @include fade-In(1s);

    md-tabs {
      height: calc(100vh);
      min-height: 100%;
    }

  .games-totals {
    margin-bottom: 30px;
  }

  .ng-custom-table {
    @include box_shadow(1);
    margin-right: 20px;
    td, th {
      padding: 2px 6px;
    }
    tbody tr:nth-child(odd) {
      background-color: #ccc;
    }

    .number-format {
      text-align: right;
    }

    .table-foot {
      background-color: black;
      color: white;
      font-weight: bold;
    }
  }
}

.dataTables_wrapper .dataTables_filter input {
  @include inset_shadow(1);
}

.dataTables_wrapper select {
  background-color: $blue-gray !important;
  color: white;
  @include box_shadow(1);
}

.tooltip {
  position: absolute;
  height: auto;
  padding: 8px;
  background-color: #f1f1f1;
  @include box_shadow(2);
  pointer-events: none;
  z-index: 10;
  color: black;
  font-size: 0.8em;
  border-radius: 4px;
  text-align: center;
}

text.shadow {
  font-weight: bold;
  stroke: black;
  stroke-width: 0.8px;
  opacity: 0.8;
}
