<div ng-controller="ShellCtrl" class="main-shell" md-theme="{{theme}}">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
        <md-toolbar class="md-accent">
            <div style="width: 100%; text-align: center;">
                <h3>Navigation</h3>
            </div>
        </md-toolbar>
        <md-content layout-padding>
            <md-list class="nav-list">
                <md-list-item>
                    <md-button ui-sref="main" ng-class="{'selected-nav': highlight === 'main'}">
                        <md-icon md-svg-icon="action:home" class="nav-icon" aria-label="home" size="24"></md-icon>
                        Home
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ui-sref="about" ng-class="{'selected-nav': highlight === 'about'}">
                        <md-icon md-svg-icon="av:library_books" class="nav-icon" aria-label="about" size="24"></md-icon>
                        About Me
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ui-sref="projects" ng-class="{'selected-nav': highlight === 'projects'}">
                        <md-icon md-svg-icon="action:perm_media" class="nav-icon" aria-label="projects" size="24"></md-icon>
                        Projects
                    </md-button>
                </md-list-item>
                <!-- <md-list-item>
                    <md-button ui-sref="social">
                        <md-icon md-svg-icon="social:group" class="nav-icon" aria-label="social" size="24"></md-icon>
                        Social
                    </md-button>
                </md-list-item> -->
                <md-list-item>
                    <md-button ui-sref="resume" ng-class="{'selected-nav': highlight === 'resume'}">
                        <md-icon md-svg-icon="editor:format_list_bulleted" class="nav-icon" aria-label="resume" size="24"></md-icon>
                        Resum&eacute
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ui-sref="contact" ng-class="{'selected-nav': highlight === 'contact'}">
                        <md-icon md-svg-icon="communication:contact_mail" class="nav-icon" aria-label="contact" size="24"></md-icon>
                        Contact
                    </md-button>
                </md-list-item>
                <!-- <md-list-item>
                    <md-button ui-sref="blog">
                        <md-icon md-svg-icon="communication:comment" class="nav-icon" aria-label="contact" size="24"></md-icon>
                        Blog
                    </md-button>
                </md-list-item> -->
                <md-list-item ng-class="{'selected-nav': highlight === 'fun'}">
                    <md-button ui-sref="fun">
                        <md-icon md-svg-icon="social:mood" class="nav-icon" aria-label="fun" size="24"></md-icon>
                        Fun Stuff
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
        <div layout="column" layout-align="end start" style="min-height: 220px; padding-left: 80px;">
            <div fb-like="socialCrap.url"></div>
            <div google-plus="socialCrap.url" style="margin: 2px auto 0 8px;"></div>
            <div tweet="socialCrap.name" tweet-url="socialCrap.url"></div>
            <div twitter-follow twt-name="'jgdigitaljedi'"></div>
            <!-- <div class="fb-like" data-href="http://joeyg.me" data-layout="button_count"
                data-action="like" data-size="small" data-show-faces="true" data-share="true">
            </div>
            <div>
                <a class="twitter-share-button"
                  href="https://twitter.com/intent/tweet?text=Joey%20Gauthiers%20awesome%20portfolio&url=http://joeyg.me">
                Tweet</a>
                <a href="https://twitter.com/jgdigitaljedi" class="twitter-follow-button" data-show-count="true">Follow @jgdigitaljedi</a>
            </div>
            <div>
                <div class="g-plusone" data-href="http://joeyg.me"></div>
                <div class="g-follow" data-annotation="bubble" data-height="20" data-href="//plus.google.com/u/0/100208310609360167862" data-rel="publisher"></div>
            </div> -->
        </div>
    </md-sidenav>
    <md-toolbar layout="row" layout-align="space-between">
        <div class="md-toolbar-tools" layout layout-align="space-between center" flex>
            <div layout layout-align="start center">
                <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Mobile Menu" hide-gt-md>
                    <md-icon md-svg-icon="assets/icons/menu.svg"></md-icon>
                </md-button>
                <h2>
                    <span>Joey Gauthier</span>
                </h2>
            </div>
            <div layout="row" layout-align="center center" hide-xs hide-sm hide-md>
                <md-button ui-sref="main" ng-class="{'selected-nav': highlight === 'main'}">
                    Home
                </md-button>
                <md-button ui-sref="about" ng-class="{'selected-nav': highlight === 'about'}">
                    About Me
                </md-button>
                <md-button ui-sref="projects" ng-class="{'selected-nav': highlight === 'projects'}">
                    Projects
                </md-button>
                <!-- <md-button ui-sref="social">
                    Social
                </md-button> -->
                <md-button ui-sref="resume" ng-class="{'selected-nav': highlight === 'resume'}">
                    Resum&eacute
                </md-button>
                <md-button ui-sref="contact" ng-class="{'selected-nav': highlight === 'contact'}">
                    Contact
                </md-button>
                <md-button ui-sref="fun" ng-class="{'selected-nav': highlight === 'fun'}">
                    Fun Stuff
                </md-button>
            </div>
            <div layout layout-align="end center">
                <div layout="row" layout-align="end center">
                    <div style="margin-right: 10px;">
                        <span hide-sm hide-xs>Theme</span>
                        <md-tooltip style="font-size: 1em;" class="theme-tooltip">
                        Theme changes with time of day,<br/>
                        but you can change it manually if you'd like!
                        </md-tooltip>
                    </div>
                    <md-icon md-svg-icon="image:brightness_3"></md-icon>
                    <md-switch ng-model="isDay" aria-label="Change Theme" ng-change="overrideTheme()"></md-switch>
                    <md-icon md-svg-icon="image:wb_sunny" style="margin-right: 8px;"></md-icon>
                </div>
            </div>
        </div>
    </md-toolbar>
</div>
