.rrr-section {
	background: 
		linear-gradient(
	      rgba(96, 125, 139, 0.55), 
	      rgba(96, 125, 139, 0.55)
	    )
		,url('../../assets/images/restaurant_icons.png') repeat;
	overflow-x: hidden;
	height: calc(100vh - 64px);
	@include fade-In(1s);

	.restaurant {
		font-family: 'langdon';
		font-size: 5em;
		-webkit-margin-after: 10px;
		-webkit-margin-before: 10px;
	    @include fade-In(2s);
	}

	.roulette {
		font-family: 'langdon';
		font-size: 5em;
		-webkit-margin-after: 10px;
		-webkit-margin-before: 10px;
	    @include fade-In(2s);
	}

	.rr-title:first-of-type {
		margin-top: 100px;
	}

	.tilted-remix {
		font-family: 'depressionist';
		font-size: 4em;
		transform: rotate(-10deg);
		color: #455A64;
		margin-top: 0;
		@include fade-In(2s);
	}

	.welcome-card {
		width: 400px;
		height: 200px;
		// background: #f1f1f1;
		// color: #455A64;
		// -webkit-animation-delay: 2.3s;
		// -moz-animation-delay: 2.3s;
		// animation-delay: 2.3s;
		@include fade-In(3s);
		@include box_shadow(3);
	}

	.options-section {

		.options-title {
			font-family: 'langdon';
			font-size: 5em;
			margin-top: 60px;
		}

		.option-cards {
			margin-top: 40px;
			@include fade-In(1.3s);			

			.types-card {
				max-width: 700px;
			}
		}
	}

	.results-container {
		padding-top: 40px;

		md-card {
			max-width: 400px;


			.result-title, .line-title {
				font-weight: bold;
			}

			.result-image {
				max-width: 320px;
			}
		}
	}

	.yelp {

		span {
			margin-top: 2px;
		}

		 img {
		 	height: 40px;
		 }
	}

	#map_canvas {
    	height: 100%;
  	}
  	.controls {
    	margin-top: 10px;
    	border: 1px solid transparent;
    	border-radius: 2px 0 0 2px;
    	box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	height: 32px;
    	outline: none;
    	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  	}

  	#pac-input {
    	background-color: #fff;
    	font-family: Roboto;
    	font-size: 15px;
    	font-weight: 300;
    	margin-left: 12px;
    	padding: 0 11px 0 13px;
    	text-overflow: ellipsis;
    	width: 300px;
  	}

  	#pac-input:focus {
    	border-color: #4d90fe;
  	}

  	.pac-container {
    	font-family: Roboto;
  	}

  	#type-selector {
    	color: #fff;
    	background-color: #4d90fe;
    	padding: 5px 11px 0px 11px;
  	}

  	#type-selector label {
    	font-family: Roboto;
    	font-size: 13px;
    	font-weight: 300;
  	}
}