<div ng-include="'components/shell/shell.html'" ng-class="{'night':rrrc.theme === 'night', 'day': rrrc.theme === 'day'}"></div>
<section ng-class="{'night':rrrc.theme === 'night', 'day': rrrc.theme === 'day'}" class="rrr-section">
	<!-- <div layout="row" layout-align="center center" class="title-area">
		restaurant roulette remix
	</div> -->
	<ui-view></ui-view>
	<!-- <div layout="column" layout-fill layout-align="start center">
		<p class="rr-title restaurant">restaurant</p>
		<p class="rr-title roulette">roulette</p>
		<p class="tilted-remix">[remix]</p>
		<div layout="row" flex> 
			<md-card class="welcome-card fade-in">
			    <md-card-title>
			      	<md-card-title-text>
			        	<div class="md-headline" style="text-align: center;">
			        		<i class="fa fa-cutlery"></i>
			        		 Let's Get Started 
			        		<i class="fa fa-cutlery"></i>
			        	</div>
			      	</md-card-title-text>
			      	<br>
			      	<md-card-title-media>
			        	<div class="md-media-lg card-media" style="text-align: center;">
			        	To get started, please select whether to use
			        	your current location or enter one manually.
			        	</div>
			      	</md-card-title-media>
			    </md-card-title>
			    <hr>
			    <md-card-actions layout="row" layout-align="center center">
			      	<md-button ng-click="rrrc.getCurrentLocation()"><md-icon md-svg-icon="maps:place"></md-icon> Current Location</md-button> || 
			      	<md-button ng-click="rrrc.manualLocation">Enter Location <md-icon md-svg-icon="maps:map"></md-icon></md-button>
			    </md-card-actions>
			</md-card>
		</div>
	</div> -->
</section>