.gf-toast-wrapper {
  display: flex;
  position: fixed;
  z-index: 999;
  @include box_shadow(2);
  flex-direction: row;
  width: 200px;
  border-radius: 8px;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
  right: 8px;
  bottom: 8px;
  opacity: 1;
  transition: 600ms ease-in-out all;

  .gf-toast-icon {

  }

  .gf-toast-text-wrapper {
    display: flex;
    flex-direction: column;
    color: #fff;

    .gf-toast-title {
      font-weight: bold;
      font-style: italic;
    }

    .gf-toast-text {

    }
  }
}

.gf-toast-wrapper.ng-hide {
  opacity: 0;
}

.gf-toast-wrapper.ng-hide-remove {
  opacity: 1;
}
