<md-card class="vg-editor-card" layout-padding>
  <div layout="row" layout-align="center center" class="card-title">
    <h3>{{formOptions.title}}</h3>
  </div>
  <div layout="row" layout-align="center center">
    <div>
      <md-button class="add-to-library editor-form-nav-button" ng-class="{'selected-state': state.current === 'add'}"
        ng-click="changeState('add')">
        <md-icon md-svg-icon="action:note_add"></md-icon> &nbsp; Add
      </md-button>
    </div>
    <div>
      <md-button class="edit-library editor-form-nav-button" ng-class="{'selected-state': state.current === 'edit'}"
        ng-click="changeState('edit')">
        <md-icon md-svg-icon="editor:mode_edit"></md-icon> &nbsp; Edit
      </md-button>
    </div>
  </div>
  <div layout="row" layout-align="center center" class="edit-form-area" ng-if="state.current === 'add'">
    <div class="editor-form-content" layout="column" layout-align="center center">
      <div layout="row" layout-align="center center" class="wrap-row">
        <md-input-container class="dynamic-input" ng-repeat="field in formOptions.inputs">
          <label>{{field.display}}</label>
          <input data-name="{{field.name}}" ng-model="searchParams[field.name]" />
          <a ng-href="{{field.link}}" ng-if="field.link" class="lookup-link" target="_blank">
            <md-icon md-svg-icon="action:info"></md-icon>
          </a>
        </md-input-container>
        <md-button ng-click="lookup()">
          <md-icon md-svg-icon="action:search"></md-icon>
          &nbsp; Lookup
        </md-button>
      </div>
      <div ng-if="gbInfo" layout="row" layout-align="center center" class="gb-results wrap-row">
        <md-input-container ng-repeat="obj in gbInfo" class="dynamic-input">
          <label>{{obj.label}}</label>
          <input ng-model="searchParams[obj.field]" />
          <md-icon md-svg-icon="action:info" ng-if="obj.label === 'Genres'"
                   ng-mouseover="showTooltip('genreList')" ng-mouseleave="removeTooltip()"></md-icon>
        </md-input-container>
      </div>
      <div layout="row" layout-align="center center" class="wrap-row">
        <div ng-if="showConDd">
          <label style="margin-right: 20px;">Console</label>
          <md-select ng-model="searchParams.platform" ng-if="consoleDd" placeholder="Select Console">
            <md-option ng-repeat="console in consoleDd" ng-value="console">{{console}}</md-option>
          </md-select>
        </div>
        <div ng-if="!showConDd" style="padding-top: 22px;">
          <md-input-container>
            <label>Console</label>
            <input ng-model="searchParams.platform" />
          </md-input-container>
        </div>
        <div>
          <md-button ng-click="newConsole()" class="form-action-button">
            <md-icon md-svg-icon="action:note_add"></md-icon>
            &nbsp {{showConDd ? 'Add New Console' : 'Use Console Select'}}
          </md-button>
        </div>
      </div>
      <div ng-if="gbInfo">
        <md-button ng-click="saveNew()" class="form-action-button">
          <md-icon md-svg-icon="content:save"></md-icon>
          &nbsp; Save
        </md-button>
        <md-button ng-click="clearFields()" class="form-action-button">
          <md-icon md-svg-icon="communication:clear_all"></md-icon>
          &nbsp; Clear Fields
        </md-button>
      </div>
    </div>
  </div>
  <div layout="row" layout-align="center center" class="edit-form-area" ng-if="state.current === 'edit'">
    <div class="editor-form-content" ng-switch="which">
      <div layout="row" layout-align="center center">
        <md-input-container class="edit-search">
          <label>Search</label>
          <input class="edit-search-field" />
        </md-input-container>
        <md-button>
          <md-icon md-svg-icon="action:search"></md-icon>
        </md-button>
      </div>
    </div>
  </div>
</md-card>
<div class="hover-tooltip" ng-if="state.tooltip.show">
  <div id="tt-template-content"></div>
</div>
