.vg-editor-card {
  background-color: #fff !important;
  color: $flat-black !important;

  .dynamic-input {
    color: $flat-black !important;
    margin: 8px;
    width: 400px;

    input {
      margin: 8px;
    }
  }

  .edit-form-area {

    .wrap-row {
      flex-wrap: wrap;
    }

    .form-action-button {
      background-color: $blue-gray !important;
      color: $flat-white !important;
      @include box_shadow(1);

      md-icon {
        fill: $flat-white !important;
      }

      &:hover {
        background-color: $dark-amber !important;
        color: $flat-black !important;

        md-icon {
          fill: $flat-black !important;
        }
      }
    }

    .edit-table-container {

      table {

        tr {
          cursor: pointer;
        }

        tbody tr:nth-child(odd) {
          background-color: #f1f1f1;
        }

        tbody tr {
          @include box_shadow(1);

        }
      }
    }
  }

  .editor-form-nav-button {
    @include box_shadow(1);
  }

  .selected-state {
    background-color: $dark-amber !important;
    color: $flat-black !important;

    md-icon {
      fill: $flat-black !important;
    }

    &:hover {
      background-color: $flat-black !important;
      color: $flat-white !important;

      md-icon {
        fill: $flat-white !important;
      }
    }
  }
}

.hover-tooltip {
  position: absolute;
  @include box_shadow(3);
  background-color: $blue-gray;
  color: #fff;
  line-height: 0.9em;
  font-size: 0.8em;
  right: 20px;
  top: 20px;
  z-index: 99;
}
