.vg-editor-card {
  background-color: #fff !important;
  color: $flat-black !important;

  .dynamic-input {
    color: $flat-black !important;
    margin: 8px;
    width: 400px;

    input {
      margin: 8px;
    }
  }

  .edit-form-area {

    .wrap-row {
      flex-wrap: wrap;
    }

    .form-action-button {
      background-color: $blue-gray !important;
      color: $flat-white !important;
      @include box_shadow(1);

      md-icon {
        fill: $flat-white !important;
      }

      &:hover {
        background-color: $dark-amber !important;
        color: $flat-black !important;

        md-icon {
          fill: $flat-black !important;
        }
      }
    }
  }

  .editor-form-nav-button {
    @include box_shadow(1);
  }

  .selected-state {
    background-color: $dark-amber !important;
    color: $flat-black !important;

    md-icon {
      fill: $flat-black !important;
    }

    &:hover {
      background-color: $flat-black !important;
      color: $flat-white !important;

      md-icon {
        fill: $flat-white !important;
      }
    }
  }
}
