.projects-section {
	min-height: 100%;
    // background-image: url('../assets/images/austin4.svg');
    // background-size: contain;
    // background-position: bottom;
    // background-repeat: no-repeat;

  .title-area {
    font-family: 'langdon';
    font-size: 5em;

    p {
      margin: 16px;
    }
  }

  md-grid-list {
    
    md-grid-tile {
      background-size: contain;
      background-repeat:  no-repeat;
      background-position: center;
      @include box_shadow(1);
    }
  }

  .other-projects {
    background-color: $blue-gray;
    font-weight: bold;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    h2 {
      color: $dark-amber;
      text-shadow: 1px 1px #212121;
    }
  }

  .github-logos {
    background-image: url('../assets/images/github_projects.jpg');
    background-size: 33.3%;
    background-repeat: repeat;
    height: 250px;
    width: 100%;
    margin-bottom: 0;
    @include inset_shadow(6);
  }
}

.projects-gallery { // this is the modal
  max-height: 800px;
  margin: 0;
  padding: 0;

  .exit-modal {

  }

  .selected-thumb {
    border: 2px solid $dark-amber !important;
  }

  .gallery-title {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;

    h1 {
      display: inline;
      margin: 0;
    }
  }
  .gallery-area {
    padding: 8px;

    .vertical-film, .photo-film, .film-square {
      -webkit-user-select: none; /* Chrome/Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */
      -o-user-select: none;
      user-select: none;
    }

    .photo-area {
      //max-height: 585px;

      .film-square {
        max-width: 98%;
        border: 1px solid #f1f1f1;
        margin: 2px;
        padding: 1px;
        cursor: pointer;
        @include box_shadow(1);
      }

      .big-pic {
        // width: auto;
        object-fit: contain;
        height: auto;
        max-width: 720px;
        max-height: 600px;
        width: 98%;
        opacity: 0;
        @include box_shadow(2);
      }

      .fade-in {
        transition: all 0.5s;
        opacity: 1;
      }

      //.fade-out {
      //  opacity: 0;
      //}
    }
    
    .writeup-area {
      background-color: $blue-gray;
      font-size: .9em;
      padding: 12px;
      margin: 0;
      @include box_shadow(2);

      .gallery-head {
        color: $dark-amber;
        margin-bottom: 4px;
      }

      a {
        color: #f1f1f1;
        margin: auto 8px;
      }
      
      a:hover {
        color: $dark-amber;
      }
      
      a:visited {
        color: #424242;
      }
    }
  }
}