.projects-section {
	min-height: 100%;
	// height: calc(100vh - 64px);
	// background-image: url('../../assets/images/AustinSkylineCropped.svg');
	// background-position: bottom;
	// background-size: contain;
	// background-repeat:  no-repeat;
	// background-image: url('../../assets/images/austin-skyline2.svg');

	md-grid-list {
		// margin-top: 40px;
		
		md-grid-tile {
			background-size: contain;
			background-repeat:  no-repeat;
			background-position: center;
		}
	}
}

.projects-gallery { // this is the modal
  max-height: 800px;

  .exit-modal {

  }

  .selected-thumb {
    border: 2px solid $dark-amber !important;
  }

  .gallery-title {
    margin-bottom: 0;
    text-align: center;
    color: #f1f1f1;
    width: 100%;

    h1 {
      display: inline-block;
    }

    i {
      top: 4px;
      right: 4px;
      position: absolute;
      color: $dark-amber;
      cursor: pointer;
    }
  }
  .gallery-area {
    padding: 8px;
    //margin: 8px;

    .vertical-film, .photo-film, .film-square {
      -webkit-user-select: none; /* Chrome/Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */
      -o-user-select: none;
      user-select: none;
    }

    .film-square {
      // include @box-shadow(2);
    }
    .photo-area {
      //max-height: 585px;

      .film-square {
        max-width: 98%;
        border: 1px solid #f1f1f1;
        margin: 2px;
        padding: 1px;
        cursor: pointer;
      }

      .big-pic {
        // width: auto;
        object-fit: contain;
        height: auto;
        max-width: 720px;
        max-height: 600px;
        width: 98%;
        opacity: 0;
      }

      .fade-in {
        transition: all 0.5s;
        opacity: 1;
      }

      //.fade-out {
      //  opacity: 0;
      //}
    }
    
    .writeup-area {
      background-color: $blue-gray;
      font-size: .9em;
      padding: 12px;
      margin: 0;
      // .BoxShadowHelper(2);

      .gallery-head {
        color: $dark-amber;
        margin-bottom: 4px;
      }
      
      a {
        color: #f1f1f1;
      }
      
      a:hover {
        color: $dark-amber;
      }
      
      a:visited {
        color: #424242;
      }
      
      i {
        margin-right: 12px;
      }
    }
  }
}