.projects-section {
	height: calc(100vh - 64px);
	background-image: url('../../assets/images/AustinSkylineCropped.svg');
	background-position: bottom;
	background-size: contain;
	background-repeat:  no-repeat;
	// background-image: url('../../assets/images/austin-skyline2.svg');

	md-grid-list {
		// margin-top: 40px;
		
		md-grid-tile {
			background-size: contain;
			background-repeat:  no-repeat;
			background-position: center;
		}
	}
}