/**
 * App-wide Styles
 */

 html, body {
  min-height: 100%;
 }
$blue-gray: #607d8b;
$dark-amber: #ffc107;
$flat-black: #212121;
$flat-white: #f1f1f1;

 @import url('//fonts.googleapis.com/css?family=Viga|Signika');
 @import url('//fonts.googleapis.com/css?family=Exo:400,700,800,400italic,700italic,900');
 @font-face {
   font-family: 'langdon';
   src: url('../assets/fonts/langdon-webfont.eot');
   src: url('../assets/fonts/langdon-webfont.eot?#iefix') format('embedded-opentype'),
   url('../assets/fonts/langdon-webfont.woff') format('woff'),
   url('../assets/fonts/langdon-webfont.ttf') format('truetype'),
   url('../assets/fonts/langdon-webfont.svg#Langdon') format('svg');
 }

 @font-face {
   font-family: 'depressionist';
   src: url('../assets/fonts/depressionist_3_revisited_2010-webfont.eot');
   src: url('../assets/fonts/depressionist_3_revisited_2010-webfont.eot?#iefix') format('embedded-opentype'),
   url('../assets/fonts/depressionist_3_revisited_2010-webfont.woff') format('woff'),
   url('../assets/fonts/depressionist_3_revisited_2010-webfont.ttf') format('truetype'),
   url('../assets/fonts/depressionist_3_revisited_2010-webfont.svg#Depressionist') format('svg');
 }

 @font-face {
   font-family: 'mr_robot';
   src: url('../assets/fonts/mr_robot.eot');
   src: url('../assets/fonts/mr_robot.eot?#iefix') format('embedded-opentype'),
   url('../assets/fonts/mr_robot.woff') format('woff'),
   url('../assets/fonts/mr_robot.ttf') format('truetype'),
   url('../assets/fonts/mr_robot.svg#mr_robot') format('svg');
 }

 html {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
 }

 body {
  font-family: 'Exo', sans-serif;
  color: $flat-white;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
 }

 .mr-robot-text {
   font-size: 4em;
   font-family: 'mr_robot';
 }

 .no-scroll {
   overflow: hidden !important;
 }

 .day {
   background-color: $flat-white;
   color: $flat-black;
 }

 .day-modal {
  color: $flat-black;
  background-color: #B0BEC5;
 }

 .night {
   background-color: #040615;
   color: $flat-white;
 }

 .mobile-social {

   .fb-like, .twitter-share-button, .twitter-follow-button {
     margin: 8px;
   }
 }


 .selected-nav {
   color: $dark-amber !important;
 }
@mixin box_shadow ($level) {

    @if $level == 1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if $level == 2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @else if $level == 3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @else if $level == 4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    } @else if $level == 5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

}

@mixin inset_shadow ($level) {

    @if $level == 1 {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0px 1px 2px rgba(0, 0, 0, 0.24);
    } @else if $level == 2 {
        box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), inset 0 3px 6px rgba(0,0,0,0.23);
    } @else if $level == 3 {
        box-shadow: inset 0 10px 20px rgba(0,0,0,0.19), inset 0 6px 6px rgba(0,0,0,0.23);
    } @else if $level == 4 {
        box-shadow: inset 0 14px 28px rgba(0,0,0,0.25), inset 0 10px 10px rgba(0,0,0,0.22);
    } @else if $level == 5 {
        box-shadow: inset 0 19px 38px rgba(0,0,0,0.30), inset 0 15px 12px rgba(0,0,0,0.22);
    } @else if $level == 6 {
        box-shadow: inset 0 0 60px 15px rgba(0,0,0,0.40), inset 0 0 20px 5px rgba(0,0,0,0.33);
    }
}

@mixin inset_shadow_vertical ($level) {

    @if $level == 1 {
        box-shadow: inset 0 1px 2px -2px rgba(0, 0, 0, 0.12), inset 0px -1px -2px 2px rgba(0, 0, 0, 0.24);
    } @else if $level == 2 {
        box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), inset 0 3px 6px rgba(0,0,0,0.23);
    } @else if $level == 3 {
        box-shadow: inset 0 10px 20px rgba(0,0,0,0.19), inset 0 6px 6px rgba(0,0,0,0.23);
    } @else if $level == 4 {
        box-shadow: inset 0 14px 28px rgba(0,0,0,0.25), inset 0 10px 10px rgba(0,0,0,0.22);
    } @else if $level == 5 {
        box-shadow: inset 0 19px 38px rgba(0,0,0,0.30), inset 0 15px 12px rgba(0,0,0,0.22);
    } @else if $level == 6 {
        box-shadow: inset 0 0 60px 15px rgba(0,0,0,0.40), inset 0 0 20px 5px rgba(0,0,0,0.33);
    }
}

$prefix:'-moz-', '-webkit-', '-o-', '-ms-', '';
@mixin keyframe-fadeIn {
  0%   { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-webkit-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-o-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-ms-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@keyframes fadeIn {
  @include keyframe-fadeIn;
}
@mixin fade-In($arg) {
  $keyframe-name:fadeIn;
  $duration:$arg;
  @each $p in $prefix {
    #{$p}animation:$keyframe-name $duration;
  }
}

@mixin keyframe-slideInRight {
  0% { transform: translateX(2000px); }
  100% { transform: translateX(0%); }
}
@-moz-keyframes slideInRight {
  @include keyframe-slideInRight;
}
@-webkit-keyframes slideInRight {
  @include keyframe-slideInRight;
}
@-o-keyframes slideInRight {
  @include keyframe-slideInRight;
}
@-ms-keyframes slideInRight {
  @include keyframe-slideInRight;
}
@keyframes slideInRight {
  @include keyframe-slideInRight;
}
@mixin slideInRight ($arg) {
  $keyframe-name:slideInRight;
  $duration:$arg;
  @each $p in $prefix {
    #{$p}animation:$keyframe-name $duration;
  }
}

@mixin keyframe-slideInLeft {
  0% { transform: translateX(-2000px); }
  100% { transform: translateX(0%); }
}
@-moz-keyframes slideInLeft {
  @include keyframe-slideInLeft;
}
@-webkit-keyframes slideInLeft {
  @include keyframe-slideInLeft;
}
@-o-keyframes slideInLeft {
  @include keyframe-slideInLeft;
}
@-ms-keyframes slideInLeft {
  @include keyframe-slideInLeft;
}
@keyframes slideInLeft {
  @include keyframe-slideInLeft;
}
@mixin slideInLeft ($arg) {
  $keyframe-name:slideInLeft;
  $duration:$arg;
  @each $p in $prefix {
    #{$p}animation:$keyframe-name $duration;
  }
}

@mixin angle($pseudo, $flip: false, $angle: 1.5deg) {
  // Possible values for $pseudo are: before, after, both
  @if $pseudo == 'before' or $pseudo == 'after' or $pseudo == 'both' {
    position: relative;
    z-index: 1;
    $selector: if($pseudo == 'both', '&:before,&:after', '&:#{$pseudo}');

    #{$selector} {
      background: inherit;
      content: '';
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
      -webkit-backface-visibility: hidden; // for Chrome Windows
    }

    @if $pseudo == 'before' {
      #{$selector} {
        top: 0;

        @if $flip {
          transform: skewY($angle * -1);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle);
          transform-origin: 100% 0;
        }
      }
    }

    @if $pseudo == 'after' {
      #{$selector} {
        bottom: 0;

        @if $flip {
          transform: skewY($angle);
          transform-origin: 0 100%;
        } @else {
          transform: skewY($angle * -1);
          transform-origin: 100%;
        }
      }
    }

    @if $pseudo == 'both' {
      &:before {
        top: 0;

        @if $flip {
          transform: skewY($angle * -1);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle);
          transform-origin: 100% 0;
        }
      }

      &:after {
        bottom: 0;

        @if $flip {
          transform: skewY($angle);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle * -1);
          transform-origin: 100%;
        }
      }
    }
  }
}
 .main-shell {

  .md-toolbar-tools {
    @include box_shadow(1);
  }
   .profile-container {
     height: 100%;
     font-size: 14px;

     .profile-name {
       font-weight: 500;
     }
   }
 }

 .twitter-follow-button {
  margin-top: 0;
 }

 .desktop-social {
   background-color: $blue-gray;
   color: 'white';
   position: absolute;
   width: 100%;
   z-index: 100;
   @include box_shadow(1);
   max-height: 0;
   transition: max-height 0.5s ease-out;
   overflow: hidden;

   .social-wrapper {
     width: 500px;

     .sm-container {
       div {
         margin: 0;
       }
     }
   }
 }

 .show-social {
   max-height: 40px;
   transition: max-height 0.5s ease-in;
 }

// Component styles are injected through grunt
// injector
@import 'about/about.scss';
@import 'blog/blog.scss';
@import 'contact/contact.scss';
@import 'fun/2048/2048.scss';
@import 'fun/fun.scss';
@import 'fun/rrr/rrr.scss';
@import 'main/main.scss';
@import 'projects/projects.scss';
@import 'resume/resume.scss';
@import 'social/social.scss';
@import 'vg/crud/crud.scss';
@import 'vg/gamesDialog.scss';
@import 'vg/vg.scss';
@import 'directives/customChart.scss';
@import 'directives/loader.scss';
// endinjector

@media screen and (min-width: 416px) and (max-width: 500px) {
  .mr-robot-text {
    font-size: 3em;
  }
}

@media screen and (max-width: 415px) {
  .mr-robot-text {
    font-size: 2.5em;
  }
}

