<section class="games-editor" ng-if="gec.state.loggedIn" md-theme="{{gec.theme}}" ng-class="{'night':gec.theme === 'night', 'day': gec.theme === 'day'}">
  <div layout="row" layout-align="center center" class="editor-header">
    <div>
      <h3>Game Collection Editor</h3>
    </div>
  </div>
  <div layout="row" layout-align="center center" class="editor-contents">
    <md-content class="main-content-wrapper">
      <md-tabs class="editor-tabs-wrapper" md-selected="gec.currentTabIndex">
        <md-tab ui-sref="gameseditor.gamesLib">
          <md-tab-label>Games Library</md-tab-label>
          <md-tab-body>
            <div ui-view="gamesLib"></div>
          </md-tab-body>
        </md-tab>
        <md-tab ui-sref="gameseditor.hwLib">
          <md-tab-label>Hardware Library</md-tab-label>
          <md-tab-body>
            <div ui-view="hwLib"></div>
          </md-tab-body>
        </md-tab>
        <md-tab ui-sref="gameseditor.gameWl">
          <md-tab-label>Games Wishlist</md-tab-label>
          <md-tab-body>
            <div ui-view="gamesWl"></div>
          </md-tab-body>
        </md-tab>
        <md-tab ui-sref="gameseditor.conWl">
          <md-tab-label>Console Wishlist</md-tab-label>
          <md-tab-body>
            <div ui-view="conWl"></div>
          </md-tab-body>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
  <gf-toast ng-if="gec.toastOptions.trigger" options="gec.toastOptions"></gf-toast>
</section>
<section ng-if="!gec.state.loggedIn" class="editor-access-denied">
  Access Denied Stuff Here
  <gf-toast ng-if="gec.deniedOptions.trigger" options="gec.deniedOptions"></gf-toast>
</section>
