<div ng-include="'components/shell/shell.html'" md-theme="{{ac.theme}}" ng-class="{'night':ac.theme === 'night', 'day': ac.theme === 'day'}"></div>
<section md-theme="{{ac.theme}}" ng-class="{'night':ac.theme === 'night', 'day': ac.theme === 'day'}" class="aboutme-section">
	<div layout="row" layout-align="center center" class="top-container" flex>
		<div class="width-container" layout="row" layout-align="center center">
			<div layout="column" class="little-info" layout-align="center start">
				<div layout="row" layout-align="center center" class="about-header">
					<div>about joey</div>
				</div>
				<div class="top-text">
					I'm a Web Application Software Engineer from Austin, TX.
				</div>
				<div class="summary-text">
					While design is part of my job and is something I enjoy, I mainly prefer to write 
					the nuts and bolts logic of a web app as I'm more of a function over form kind 
					of guy. When I'm not staring at a screen I'm playing disc golf with my buddies, 
					jamming some tunes on my guitar, or spending time with my family.
				</div>
			</div>
			<div layout="column" class="little-photos" layout-align="center end" hide-sm hide-xs>
				<img class="big-photo" ng-src="{{ac.photo}}" />
			</div>
		</div>
	</div>
	<!-- <div class="thumb-container" layout="row" layout-align="center center">
		<div class="thumbstrip" layout="row" layout-align="space-between center" flex="70">
			<div ng-repeat="photo in ac.photoArr" class="thumb">
				<img ng-src="{{photo}}" />
			</div>
		</div>
	</div> -->
	<md-divider></md-divider>
	<div class="random-facts" layout="row" layout-align="center center" 
		ng-style="ac.theme === 'day' && {'background-color': 'white'} || ac.theme === 'night' && {'background-color': '#607d8b'}">
		<div layout="row" class="width-container" layout-align="center center" flex="70">
			<div class="random-image" layout="column" layout-align="start center" hide-sm hide-xs>
				<img src="../assets/images/about/DJSigtouchedup.jpg" />
			</div>
			<div class="random-stuff" layout="column" layout-align="end center">
				<div>
					<h3>Random Facts</h3>
					<article>
						<p>My wife thinks I'm a robot.</p>
						<p>I prefer vintage video games to new ones.</p>
						<p>I've gotten a hole-in-one while playing disc golf.</p>
						<p ng-show="ac.austinTemp">It's {{ac.austinTemp}} and {{ac.weather}} in my neck of the woods right now.</p>
						<p>I was in a touring metal band for 7 years.</p>
						<p>My left bicep is about 80% missing (long story).</p>
						<p>I've never owned or really even used a Mac (hardcore Linux guy).</p>
						<p>I've seen several tornados.</p>
						<p>I once broke my right hand in 10 places.</p>
						<p>I started going bald at age 17.</p>
						<p>All of my pets have Harry Potter related names.</p>
					</article>
				</div>
			</div>
		</div>
	</div>
	<md-divider></md-divider>
	<div layout="row" layout-align="center center">
		<div><h3 style="margin-bottom: 40px;">Skills</h3></div>
	</div>
	<div class="skills-container" layout="row" layout-align="center center">
		<div layout="row" class="width-container" layout-align="space-between center" flex="70">
			<div class="skills-list" layout="column" layout-align="center start" flex="30">
				<md-list ng-repeat="skill in ac.skills track by $index">
					<md-list-item style="cursor: pointer;" ng-click="ac.chartTime($index)"
						ng-class="{'selected-skill': ac.currentChart.title === skill.title}">
						{{skill.title}}
					</md-list-item>
				</md-list>
			</div>
			<div id="skills-chart-area" layout="column" layout-align="end center" flex="70">
				<skill-chart skill-data="ac.currentChart" chart-width="ac.chartAreaWidth" chart-height="320"
					layout="row" layout-fill layout-align="space-around end">
				</skill-chart>
			</div>
		</div>
	</div>
	<md-divider></md-divider>
	<div ng-style="ac.theme === 'day' && {'background-color': 'white'} || ac.theme === 'night' && {'background-color': '#607d8b'}">
		<div layout="row" layout-align="center center">
			<h3 style="margin-bottom: 16px;">A few times my work has been featured</h3>
		</div>
		<div class="featured" class="width-container" layout="row"
			layout-align="center start">
			<div layout="row" layout-sm="column" layout-xs="column"  layout-align="space-between start" flex="70">
				<div layout="column" style="margin: 10px 6px;" ng-style="{'width': ac.gtMd ? '33%' : '100%'}">
					<div class="feature-title">MoPac Express Lanes Command Center</div>
					<div>
						<p>I designed and wrote the vast majority of the UI for this project. The video in this story shows just a few of the screens I created.
						</p>
					</div>
					<div>
						<a class="story-link" href="http://www.fox7austin.com/news/local-news/190282082-story" 
							target="__blank">Fox 7 story</a>
					</div>
				</div>
				<div layout="column" style="margin: 0 6px;" ng-style="{'width': ac.gtMd ? '33%' : '100%'}">
					<div class="feature-title">MoPac Express Lanes Command Center</div>
					<div>
						<p>This is regarding the same project as the previous feature, but there is an 
						image in the story showing one of the many screens I developed on this project.
						</p>
					</div>
					<div>
						<a class="story-link" href="http://www.mystatesman.com/news/news/transportation/dynamic-tolls-on-mopac-to-gauge-how-austinites-val/nrt5S/" target="__blank">Austin American Statesman story</a>
					</div>
				</div>
				<div layout="column" style="margin: 0 6px;" ng-style="{'width': ac.gtMd ? '33%' : '100%'}">
					<div class="feature-title">My Dash</div>
					<div>
						<p>While attending MakerSquare, I did a solo project called 'My Dash' that they tweeted about. 
						It's not a big deal, but I thought it was cool enough to mention here!
						</p>
					</div>
					<div>
						<a class="story-link" href="https://twitter.com/MakerSquare/status/517837514913366017" 
							target="__blank">Twitter</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>