.aboutme-section {
	min-height: 100%;
  	@include fade-In(1s);


	.top-container {
		padding-top: 40px;

		.about-header {
			font-family: 'langdon';
			font-size: 5em;
			margin-bottom: 16px;
		}
		.little-info {

			.top-text {
				font-size: 1.5em;
				margin-bottom: 16px;
			}

		}

		.little-photos {

			.big-photo {
				max-width: 350px;
				max-height: 350px;
				@include box_shadow(2);
				border-radius: 8px;
			}
		}
	}
	
	.thumb-container {
		margin: 16px auto 40px;;

		.thumbstrip {

			.thumb {

				img {
					width: 20%;
					height: 20%;
					@include box_shadow(1);						
				}
			}
		}
	}

	.random-facts {
		margin-top: 40px;
		padding-bottom: 40px;
	}

	.skills-container {
		margin-bottom: 40px;

		.selected-skill {
			background-color: $blue-gray;
			color: $flat-white;
		}
	}

	.feature-title {
		font-weight: bold;
		font-style: italic;
	}
}