.aboutme-section {
	min-height: 100%;
  	@include fade-In(1s);

  	md-divider {
  		@include box_shadow(1);
  	}

  	.width-container {
		max-width: 1300px;
  	}

	.top-container {
		padding-top: 40px;
		margin-bottom: 40px;

		.about-header {
			font-family: 'mr_robot';
			font-size: 5em;
			margin-bottom: 16px;
		}
		.little-info {
			max-width: 650px;

			.top-text {
				font-size: 1.5em;
				margin-bottom: 16px;
			}

			.summary-text {
				padding-right: 16px;
			}

		}

		.little-photos {

			.big-photo {
				max-width: 350px;
				max-height: 350px;
				//@include box_shadow(2);
				//border-radius: 2px;
			}
		}
	}

	.thumb-container {
		margin: 16px auto 40px;;

		.thumbstrip {

			.thumb {

				img {
					width: 20%;
					height: 20%;
				}
			}
		}
	}

	.random-facts {
		padding-top: 40px;
		padding-bottom: 40px;

		img {
			margin: auto 36px;
		}
	}

	.skills-container {
		margin-bottom: 40px;

		.selected-skill {
			background-color: $blue-gray;
			color: $flat-white;
		}
	}

	.feature-title {
		font-weight: bold;
		font-style: italic;
		margin-top: 8px;
	}

	.featured {
		padding-bottom: 40px;

    .feature-container {
      margin-bottom: 20px;
    }

		.story-link {
			text-decoration: none;
      background: $flat-white;
      padding: 4px 6px;
      border-radius: 4px;
      color: $flat-black;
      @include box_shadow(1);
      text-shadow: 1px 1px gray;
      font-weight: bold;
      margin-bottom: 20px;

	    	&:hover {
	    		color: $blue-gray;
	    	}

	    	&:visited {
	    		color: $dark-amber;
	    	}
		}
	}

}
