.fun-section {
	// background-image: url('../../assets/images/austin2.svg');
	// background-position: bottom;
	// background-size: contain;
	// background-repeat:  no-repeat;
	background-size: 100% auto;
	min-height: calc(100vh - 64px);
	height: 100%;
	@include fade-In(1s);


	.title-area {
		font-family: 'mr_robot';
        font-size: 5em;
    	padding-top: 20px;
    text-align: center;
	}

  .fun-card {
    width: 100%;
    max-width: 900px;

    .fun-title {
      font-size: 2em;
    }

    .card-media {
      max-width: 220px;
      @include box_shadow(1);
    }

    .fun-card-contents {
      padding: 0 20px;
    }
  }

	.gray-card {
		background-color: $blue-gray;
		color: $flat-white;
		max-width: 500px;
		font-weight: bold;
	}

	.inset-disclaimer {
		max-width: 500px;
		font-weight: bold;
		@include inset_shadow(2);
		padding: 8px;
	}

	.apps-area {

		.app-row {
			display: flex;
			.app-card {
				max-width: 800px;

				.app-title {
					font-size: 2em;
					font-weight: bold;
				}

				.app-description {
					min-height: 150px
				}
			}
		}
	}

  .there-are-games {
    a {
      font-weight: bold;
    }

    a:visited {
      text-decoration: none !important;
      color: $blue-gray;
      font-weight: bold;
    }
  }

}
