.fun-section {
	background-image: url('../../assets/images/austin2.svg');
	background-position: bottom;
	background-size: contain;
	background-repeat:  no-repeat;
	height: calc(100vh - 64px);
	@include fade-In(1s);

	.title-area {
		font-family: 'langdon';
        font-size: 5em;
    	padding-top: 20px;
	}

	.gray-card {
		background-color: $blue-gray;
		color: $flat-white;
	}

	.widget-section {

		.joey-weather {
			margin-bottom: 24px;
			
			.weather-icon {
				height: 40px;
				width: 40px;
				margin: -14px 0;
			}
		}

		.lastfm-stats {
			padding-top: 24px;

			span {
				color: $dark-amber;
			}

			.music-list-item {

				div {
					line-height: 1.1em;					
				}
			}
		}
	}

}