.ng-game-section {
	min-height: calc(100vh - 64px);
	height: 100%;
	background-image: url('../../assets/images/austin4.svg');
	background-position: bottom;
	background-size: cover;
	background-repeat:  no-repeat;
	@include fade-In(1s);
	
	.game-area {
		margin-bottom: 20px;
		padding-top: 40px;

		.game-title {
			// font-family: 'langdon';
	        font-size: 5em;	
	        // padding-top: 20px;
		}
	}

	.highscore-and-buttons {
		padding-top: 20px;

		.bottom-card {
			padding: 6px;
			
			.card-title {
				font-weight: bold;
			}
		}

	}
}