<div ng-include="'components/shell/shell.html'" md-theme="{{tfec.theme}}" ng-class="{'night':tfec.theme === 'night', 'day': tfec.theme === 'day'}"></div>
<section ng-class="{'night':tfec.theme === 'night', 'day': tfec.theme === 'day'}" md-theme="{{tfec.theme}}" class="ng-game-section">
	<a href="#"></a>
	<div layout="row" layout-align="center center" class="game-area">
		<div layout="column" layout-align="center center" style="margin-right: 40px;">
			<div class="game-title">Phangular 2048</div>
        	<h2>A 2048 game built on Phaser and Angular</h2>
        </div>
		<md-card layout="column">
			<md-card-content>
		        <div>
		            <div ng-class="{'score-board': tfec.default, 'score-board-light': !tfec.default}">Score: {{tfec.userScore}}</div>
		        </div>
		        <md-divider></md-divider>
		        <div id="game-container" layout="row" layout-align="center center">
		            <game-canvas style="margin-top: 10px;" ng-class="{'light-border': !tfec.default, 'dark-border': tfec.default}">
		                
		            </game-canvas>
		        </div>
		    </md-card-content>
	    </md-card>
	</div>
	<md-divider></md-divider>
	<div layout="row" layout-align="center center" class="highscore-and-buttons">
		<div layout="row" layout-align="center start" flex="70">
			<md-card layout="column" class="bottom-card">
				<div class="card-title">High Score: </div>
				<md-card-content>
					<div>{{tfec.highScore.name}}</div>
					<div>{{tfec.highScore.score}}</div>
					<div>{{tfec.highScore.dateTime}}</div>
				</md-card-content>
			</md-card>
			<md-card layout="column" class="bottom-card">
				<div class="card-title">Player Name: </div>
				<md-card-content>
					<md-input-container>
						<label for="name-entry">Enter Your Name Here</label><br>
						<input name="name-entry" id="name-entry" ng-model="tfec.playerName" ng-change="tfec.changeName()" enter-pressed="tfec.switchFocus()" />
					</md-input-container>
				</md-card-content>
			</md-card>
			<md-card layout="column" class="bottom-card">
				<div class="card-title">Wanna Start Over? </div>
				<md-card-content>
					<md-button ng-click="tfec.newGame()">
						<md-icon md-svg-icon="navigation:refresh" style="margin-top: 3px;"></md-icon> New Game
					</md-button>
				</md-card-content>
			</md-card>
		</div>
	</div>
</section>