<div layout="row" layout-align="center center" style="padding-top: 40px;">
	<md-card layout="column" layout-align="start start" flex="70">
		<md-card-content style="width: calc(100% - 32px);" id="card-content">
			<!-- <input id="pac-input" class="controls" ng-if="rrrc.mapView === 'manual'"
		        placeholder="Enter a location" ng-model="rrrc.manualAddress"> -->
			<div id="map_canvas" layout="row" style="height: 480px;"></div>
		</md-card-content>
		<md-card-actions layout="row" layout-align="center center">
			<md-button ng-if="rrrc.mapView === 'directions'" ng-click="rrrc.backToResults()">Back to Results</md-button>
			<md-button ng-if="rrrc.mapView === 'manual'" ng-click="rrrc.acceptAddress()">Use This Place</md-button>
			<md-button ng-if="rrrc.mapView === 'manual'" ng-click="rrrc.backToStart()">Back to Start</md-button>
		</md-card-actions>
	</md-card>
</div>