<section class="manual-address" layout="row" layout-align="center center">
	<div layout="column" layout-align="center start">
		<p class="rr-title">Select a location</p>
		<md-card>
			<form>
				<md-card-title>
					Enter Address
				</md-card-title>
				<md-card-content>
					<md-input-container>
						<label>Street Address</label>
						<input type="text" name="street" ng-model="rrrc.userAddress.street" required>
					</md-input-container>
					<md-input-container>
						<label>City</label>
						<input type="text" name="city" ng-model="rrrc.userAddress.city" required>
					</md-input-container>
					<md-input-container>
						<label>State</label>
						<input name="state" ng-model="rrrc.userAddress.state" required>
					</md-input-container>
					<md-input-container>
						<label>Zipcode</label>
						<input type="text" name="zip" ng-model="rrrc.userAddress.zip" required>
					</md-input-container>
				</md-card-content>
				<md-card-actions>
					<md-button>Use Address</md-button>
				</md-card-actions>
			</form>
		</md-card>
		<md-button>Select on Map</md-button>
	</div>
</section>