<section class="manual-address" layout="row" layout-align="center center">
	<div layout="column" layout-align="center start">
		<md-card class="google-places-picker"> 
			<md-card-content style="width: 480px; height: 480px";>
				<input id="pac-input" class="controls" type="text"
				        placeholder="Enter a location">
			    <!-- <div id="type-selector" class="controls">
			      	<input type="radio" name="type" id="changetype-all" checked="checked">
			      	<label for="changetype-all">All</label>

			      	<input type="radio" name="type" id="changetype-establishment">
			      	<label for="changetype-establishment">Establishments</label>

			      	<input type="radio" name="type" id="changetype-address">
			      	<label for="changetype-address">Addresses</label>

			      	<input type="radio" name="type" id="changetype-geocode">
			      	<label for="changetype-geocode">Geocodes</label>
			    </div> -->
			    <div id="places-picker"></div>
			</md-card-content>
		</md-card>
	</div>
</section>