<section class="options-section" layout="row" layout-align="center center">
	<!-- <div layout="row" layout-align="center center"> -->
		<div class="options-title">options</div>
	<!-- </div> -->
	<div class="option-cards" layout="row" layout-align="center center">
		<md-card layout="column">
			Distance Options
			<md-card-content>

			</md-card-content>
		</md-card>
		<md-card layout="column">
			Type Options
			<md-card-content>

			</md-card-content>
		</md-card>
		<md-card layout="column">
			Ratings Options
			<md-card-content>

			</md-card-content>
		</md-card>
	</div>
</section>